<section class="bg-gray-50 dark:bg-gray-900">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 min-height lg:py-0"
  >
    <div
      class="w-full p-6 bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md dark:bg-gray-800 dark:border-gray-700 sm:p-8"
    >
      <h2
        class="mb-1 text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
      >
        Change Password
      </h2>
      <form
        [formGroup]="resetPasswordForm"
        class="mt-4 space-y-4 lg:mt-5 md:space-y-5"
        action="#"
      >
        <div>
          <label
            for="old-password"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Old Password</label
          >
          <input
            type="password"
            name="old-password"
            formControlName="oldPassword"
            id="old-password"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="••••••••"
            required="true"
          />

          <small
            *ngIf="
              getController('oldPassword').invalid &&
              (getController('oldPassword').dirty ||
                getController('oldPassword').touched)
            "
            class="mt-1 block text-red-500"
          >
            <div *ngIf="getController('oldPassword').errors?.['required']">
              Old password is required
            </div>
          </small>
        </div>
        <div>
          <label
            for="password"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >New Password</label
          >
          <input
            type="password"
            name="password"
            id="password"
            formControlName="newPassword"
            placeholder="••••••••"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            required=""
          />

          <small
            *ngIf="
              getController('newPassword').invalid &&
              (getController('newPassword').dirty ||
                getController('newPassword').touched)
            "
            class="mt-1 block text-red-500"
          >
            <div *ngIf="getController('newPassword').errors?.['required']">
              New password is required
            </div>
            <div *ngIf="getController('newPassword').errors?.['minlength']">
              Passwords should be at least 8 characters long
            </div>
          </small>
        </div>
        <div>
          <label
            for="confirmPassword"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Confirm password</label
          >
          <input
            type="password"
            name="confirmPassword"
            id="confirmPassword"
            formControlName="confirmPassword"
            placeholder="••••••••"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            required=""
          />
          <small
            *ngIf="
              getController('confirmPassword').dirty ||
              getController('confirmPassword').touched
            "
            class="mt-1 block text-red-500"
          >
            <div *ngIf="getController('confirmPassword').errors?.['required']">
              Confirm the password
            </div>

            <span *ngIf="isPasswordNotMatch()">Password should match</span>
          </small>
        </div>
        <div class="flex items-start"></div>
        <button
          [disabled]="resetPasswordForm.invalid"
          type="button"
          class="focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:focus:ring-yellow-900 w-full"
          [ngClass]="{ 'cursor-not-allowed': resetPasswordForm.invalid }"
          (click)="resetPassword()"
        >
          Reset passwod
        </button>
        <button
          type="button"
          (click)="cancel()"
          class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 w-full"
        >
          Cancel
        </button>
      </form>
    </div>
  </div>
</section>
