.clients-container {
  width: 100%;
}
.page:hover {
  cursor: pointer;
}

.custom-div {
  margin-right: 20px;
}

.custom-button {
  margin-right: 20px;
}
.inline-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}
