<div
  class="flex flex-col w-56 bg-white overflow-hidden sidbar bg-gradient-to-r from-gray-900 to-gray-800"
>
  <div class="flex flex-col items-center justify-center h-20 shadow-md">
    <img src="assets\image\logoEY.png" alt="Logo" class="w-20 h-12" />
    <h1 class="text-yellow-300 font-medium underline decoration-yellow-300">
      TeamHub
    </h1>
  </div>
  <ul class="flex flex-col py-4">
    <li>
      <a
        routerLink="/home"
        class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-white hover:text-yellow-300"
      >
        <span
          class="inline-flex items-center justify-center h-12 w-12 text-lg text-white"
          ><i class="bx bx-home"></i
        ></span>
        <span class="text-sm font-medium">Home</span>
      </a>
    </li>
    <li>
      <a
        routerLink="/users"
        class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-white hover:text-yellow-300"
      >
        <span
          class="inline-flex items-center justify-center h-12 w-12 text-lg text-white"
          ><i class="bx bx-group"></i
        ></span>
        <span class="text-sm font-medium">Users</span>
      </a>
    </li>
    <li>
      <a
        routerLink="/projects"
        class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-white hover:text-yellow-300"
      >
        <span
          class="inline-flex items-center justify-center h-12 w-12 text-lg text-white"
          ><i class="bx bx-laptop"></i
        ></span>
        <span class="text-sm font-medium">Project</span>
      </a>
    </li>
    <li>
      <a
        routerLink="/clients"
        class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-white hover:text-yellow-300"
      >
        <span
          class="inline-flex items-center justify-center h-12 w-12 text-lg text-white"
          ><i class="bx bx-user-plus"></i
        ></span>
        <span class="text-sm font-medium">Clients</span>
      </a>
    </li>
    <li>
      <a
        href="/profile"
        class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-white hover:text-yellow-300"
      >
        <span
          class="inline-flex items-center justify-center h-12 w-12 text-lg text-white"
          ><i class="bx bx-user-circle"></i
        ></span>
        <span class="text-sm font-medium">Profile</span>
      </a>
    </li>
    <li>
      <a
        href="/login"
        (click)="logout()"
        class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-white hover:text-yellow-300"
      >
        <span
          class="inline-flex items-center justify-center h-12 w-12 text-lg text-white"
          ><i class="bx bx-log-out"></i
        ></span>
        <span class="text-sm font-medium">Logout</span>
      </a>
    </li>
  </ul>
</div>
